<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>477701350050-sftotefedi1gsv9ludj8vgka374n1aha.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.477701350050-sftotefedi1gsv9ludj8vgka374n1aha</string>
	<key>API_KEY</key>
	<string>AIzaSyCDpTYkIWsly57cOdNZSW5xm2W7aZu4XEo</string>
	<key>GCM_SENDER_ID</key>
	<string>477701350050</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.software.AttendlyKSU</string>
	<key>PROJECT_ID</key>
	<string>attendlyksu</string>
	<key>STORAGE_BUCKET</key>
	<string>attendlyksu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:477701350050:ios:3bb9c8e0da6dae945eadfb</string>
</dict>
</plist>